.panel {
    background: black;
    display: flex;
    align-items: center;
    align-items: stretch;
    padding-bottom: 5px;
    font-family: 'Roboto', 400;
}

.control-buttons{
    border-style: none;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    height: 35px;
    width: 35px;
    color: white;
}

.icons {
    color: white;
}

.video-container {
    flex-grow: 2;
}

.player {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0,0,0,5.5);
    width: 800px;
    height: 600px;
    background: #000000;
}
